.labels text{
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
}


.forgetPasswordDiv{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 27%;
    justify-content: space-between;
    margin-left: 15%;
    padding-top: 20px;
}

.form{
    margin-top: 48px;
}

.labels{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin-top: 71px;
}

.rememberRecover{
    display: flex;
    justify-content: space-between;
}

.bottom-forget{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}